body{
margin:0;
font-family:Arial;
background:#0b1a2a;
color:white;
}

.main-layout{
display:flex;
height:100vh;
}



.left-panel{
width:40%;
padding:20px;
background:#10263f;
}

.right-panel{
width:60%;
padding:20px;
background:#142f4d;
}



.ecg-monitor{
height:60px;
background:black;
overflow:hidden;
margin:10px 0;
border-radius:6px;
position:relative;
}

.ecg-line{
position:absolute;
width:200%;
height:2px;
background:lime;
top:30px;
animation:ecgMove 2s linear infinite;
}

@keyframes ecgMove{
0%{left:-100%;}
100%{left:0%;}
}



.primary-btn{
padding:10px 15px;
background:#1e88e5;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
margin-top:10px;
}



.gauge-container{
margin-top:30px;
text-align:center;
}

.gauge-circle{
width:200px;
height:100px;
border-top-left-radius:200px;
border-top-right-radius:200px;
background:linear-gradient(90deg,green,orange,red);
margin:auto;
position:relative;
overflow:hidden;
}

#needle{
width:3px;
height:90px;
background:white;
position:absolute;
left:50%;
bottom:0;
transform-origin:bottom;
transform:rotate(-90deg);
transition:transform 1s ease;
}



.drop-area{
border:2px dashed #42a5f5;
padding:20px;
text-align:center;
border-radius:8px;
margin-top:10px;
}

.preview{
width:220px;
margin-top:10px;
display:none;
border-radius:8px;
}

#scanStatus{
margin-top:10px;
font-weight:bold;
}
